* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: aqua;

}

.topgap {
    height: 80px;
}

.panel {
    border: 3px solid #ddd;
    border-style: outset; 
    background-color: #ccc;
}

/* SCREEN */

.screen {
    width: 600px;
    height: 355px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vids-container {
    border: 3px solid #ddd;
    border-style: inset;
    width: 560px;
    height: 315px;
}

.empty-screen {
    width: 560px;
    height: 315px;
    text-align: center;
    padding: 100px;  
    font-family: monospace;
    font-size: 30px;
    position: absolute;
    box-sizing: border-box;

}

video {
    width: 560px;
    height: 315px;
    position: absolute;
    display: none;
}

/* CONTROLS */

.controls {
    width: 600px;
    height: 70px;
    margin: 0px auto;
    font-family: monospace;
    font-size: 15px;
    overflow: hidden;
}

.controls-track {
    margin: 10px 18px;
}

.btn {
    height: 50px;
    width: 50px;
    border: 3px solid #ddd;
    border-style: outset;   
    cursor: pointer;
}

.btn:active {
    border-style: inset;   
}

/* MENU */

.menu {
    width: 600px;
    height: 300px;
    margin: 40px auto;
}

.menu-screen {
    width: 560px;
    height: 260px;
    border: 3px solid #ddd;
    border-style: inset;
    margin: 20px auto;
    background-color: white;
    overflow-y: scroll;
}

.menu-screen::-webkit-scrollbar {
    width: 18px;
}

.menu-screen::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.menu-screen::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
    border: 3px solid #ddd;
    border-style: outset;
}

.menu-screen::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.menu-item {
    font-family: monospace;
    font-size: 15px;
    background-color: transparent;
    margin: 15px;
    cursor: alias;
}